<form method="post" action="/dashboard/artist/{{artist._id}}" class="form" enctype="multipart/form-data">
    <h1 class="title">Update artist</h1>
    <label for="name" class="label">name</label>
    <input class="input" type="text" id="name" name="name" value="{{artist.name}}">

    <label for="description" class="label">is a band ?
        {{#if artist.isBand}}
        <input type="checkbox" name="isBand" checked>
        {{else}}
        <input type="checkbox" name="isBand">
        {{/if}}
    </label>

    <label for="styles">styles</label>
    <select name="styles" id="styles" class="input" multiple>
        <option value="-1" disabled selected>please select a style</option>
        {{#each styles}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>


    <label for="picture" class="label">
        choose a picture
        <i class="icon fas fa-cloud-upload-alt fa-1x"></i>
    </label>
    <input class="is-hidden" type="file" id="picture" name="picture">

    <img class="preview" src="{{artist.picture}}" alt="{{artist.name}}'s picture'">

    <label for="description" class="label">description</label>
    <textarea type="text" class="input" id="description" name="description">
        {{artist.description}}
    </textarea>

    <button class="btn">update</button>
</form>