<h1>{{album.title}}</h1>
<p>
    {{album.artist.name}}
    {{#if album.artist.styles.length}}
    ({{album.artist.styles.0.name}})
    {{/if}}
    recorded this album the {{formatDate album.releaseDate}}
</p>
<img src="{{album.cover}}" alt="{{album.title}}'s cover'">
<p>
    produced by {{album.label.name}}
</p>

<hr>


<pre>
{{album}}
</pre>

<hr>

<pre>
{{album.artist.styles}}
</pre>